# Variables

## Variable Assignments

In [1]:
# We use '=' operator to assign value to a varaible
a = 10 
b = 1067.3
c = 'Hello'
a,b,c

(10, 1067.3, 'Hello')

## Multiple Assignments

In [2]:
a = 1; b = 10, 5.5, 'Hi'
a,b

(1, (10, 5.5, 'Hi'))

In [16]:
type(b)

tuple

In [4]:
# Assign same value to multiple variables at once
a = b = c = d = 9909.7676
a

9909.7676

## Storage Location

In [7]:
x = 5
print(id(x))

140732996841344

In [8]:
# If you assign same value to another variabe then python use same location instead of creating new memory
y = 5
print(id(y))

140732996841344

In [10]:
y = 5
print(id(y))

140732996841344

# Data Types

Every value in python as a data type. since eveything in python is a object, so data type are classes and variable are instance(object) of these class

## Numbers
* Integers, floating point and complex numbers falls under Numbers category in python. They are defined as int, float and complex respectively in python

In [11]:
a = 5
print('Type of value a is :', type(a) )

Type of value a is : <class 'int'>

In [15]:
# you can also check the instance of an variable using isinstance() function
print('Type of a is int?')
isinstance(a, int)

Type of a is int?

True

In [16]:
b = 4.565
print(isinstance(b, float))
print('Type of value b is :', type(b) )

True
Type of value b is : <class 'float'>

In [18]:
c = 1+2j
print(isinstance(c, complex))
print('Type of value c is :', type(c) )
c

True
Type of value c is : <class 'complex'>

(1+2j)

In [21]:
d = 10
print(isinstance(d, complex))
print('Type of value d is :', type(d) )

False
Type of value d is : <class 'int'>

## Boolean 
* data type is a data type that has one of two possible values which True or False

In [29]:
var = True
print(isinstance(var, bool))
print('Type of var is :',type(var))

True
Type of var is : <class 'bool'>

## Strings
* String is the sequence of unicode characters
* You can use single('') or double("") quotes to represent strings

In [40]:
Greetings = "Good Morning! How are you..!!!"
print(Greetings)

Good Morning! How are you..!!!

In [35]:
# Slicing String
Greetings[0:12]

'Good Morning'

In [43]:
# Multi-line String
"""This is the example of
Multi-Line string example.
Good Afternoon"""

greet = """This is the example of
Multi-Line string example.
Good Afternoon"""
print(greet)

This is the example of
Multi-Line string example.
Good Afternoon

## List
* List is the ordered sequence of items.
* All the items in the list don't need to have same data type.
* Values in the list can be changed.

In [47]:
x = ['QA','Prod','non-pro','NVNP']
values_list = ['Dikshit',23,565.09]
print(x)

['QA', 'Prod', 'non-pro', 'NVNP']

In [53]:
x[2] = 'Spotfire'

In [54]:
x[2]

'Spotfire'

## Tuple
* Tuple is the ordered sequence similar to list.
* For lists values are mutable whereas for tuples values are immutable.

In [55]:
val_tuple = ('Hello',1,3,4)
val_tuple

('Hello', 1, 3, 4)

In [58]:
val_tuple

3

In [59]:
# Tuple values are immutable, below is the same example for the same.
val_tuple[2] = 7

TypeError: 'tuple' object does not support item assignment

## Sets
* Set is the unordered collection of unique values.
* Values in the set are separated by comma inside the braces{}.

In [60]:
var_set = {1,3,4,52,5,6}
print(var_set)

{1, 3, 4, 5, 6, 52}

In [7]:
type(var_set)

set

In [61]:
# sets won't consider duplicate values
var_set1 = {1,3,3,4,52,4,4,6}
var_set1

{1, 3, 4, 6, 52}

In [63]:
## Set object dosen't support Indexing 
var_set1[0]

TypeError: 'set' object does not support indexing

## Dictionary
* Dictionary is the unorder collection of key-value pairs

In [64]:
var_dict = {"name" : 'Dikshit', "Lastname" : 'Sagar', "age" : 23, "company" : 'Wissen'}

In [70]:
var_dict['name'] ## Using key to access the value in the dictionary

'Dikshit'