## Tuples
* #### Tuples are immutable sequence
* #### It is a collection of elements in a order and unchangeable

In [1]:
mydetails_tuples = ('Dikshit','Male','15-01-1997')

In [2]:
print(mydetails_tuples)

('Dikshit', 'Male', '15-01-1997')

In [3]:
mydetails_tuples[0]

'Dikshit'

In [4]:
mydetails_tuples[0:2]

('Dikshit', 'Male')

In [6]:
## Nested Tuple
nested_tuple = ('Dikshit', 'Male', '15-01-1997',('GNI','NAR','BGHS'))
nested_tuple[3]

('GNI', 'NAR', 'BGHS')

In [14]:
# concatenating Tuples
conc_tuple = ((1,2,3,1,1,1,3)+(4,5,6,7,8))
conc_tuple

(1, 2, 3, 1, 1, 1, 3, 4, 5, 6, 7, 8)

In [12]:
## Repeat Elements in tuple
rep_tuple = (('Dikshit',) * 10)
rep_tuple

('Dikshit',
 'Dikshit',
 'Dikshit',
 'Dikshit',
 'Dikshit',
 'Dikshit',
 'Dikshit',
 'Dikshit',
 'Dikshit',
 'Dikshit')

In [15]:
# tuple count - returns count of particular element
conc_tuple.count(1)

4

## Sets
- #### Sets are unordered collection of unique elements.

In [16]:
myset = {'dikshit','sagar','1252'}
print(myset)

{'dikshit', '1252', 'sagar'}

In [17]:
myset.add('15-01-1997')
print(myset)

{'dikshit', '15-01-1997', '1252', 'sagar'}

In [18]:
myset.update(['male','ML']) # using update() method to add multiple values and for adding single value use add() method

In [19]:
print(myset)

{'dikshit', 'ML', '1252', 'male', 'sagar', '15-01-1997'}

In [20]:
myset2 = myset.copy()

In [25]:
myset2.add('hello')
print(myset2)

{'dikshit', 'ML', 'male', 'hello', '1252', 'sagar', '15-01-1997'}

In [38]:
print(myset | myset2)
print(myset & myset2)
print(myset2 - myset)
print(myset ^ myset2)

{'dikshit', 'ML', 'hello', '1252', 'male', 'sagar', '15-01-1997'}
{'dikshit', 'ML', '1252', 'male', 'sagar', '15-01-1997'}
{'hello'}
{'hello'}

In [23]:
help(myset.difference)

Help on built-in function difference:

difference(...) method of builtins.set instance
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)

In [10]:
last_element = myset2.pop()
print(last_element)

15-01-1997

In [11]:
# The clear() method empties the set:
myset2.clear()
print(myset2)

set()

In [12]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'a', 1, 2, 3, 'b', 'c'}

In [14]:
set1.update(set2)

In [15]:
set1

{1, 2, 3, 'a', 'b', 'c'}

In [20]:
set1.difference_update(set2) #Removes the items in this set that are also included in another, specified set

In [24]:
set_i = {1,2,3,4,5,6}
set_i_1 = {4,5,6,7,8}
set_i.intersection(set_i_1) # 	Returns a set, that is the intersection of two other sets

{4, 5, 6}

In [25]:
set_i.intersection_update(set_i_1) # Removes the items in this set that are not present in other, specified set(s)

In [26]:
set_i

{4, 5, 6}

In [29]:
set_i.issubset(set_i_1)

True

In [43]:
sa = set()

In [41]:
h = {}

In [42]:
type(h)

dict

In [44]:
type(sa)

set

In [47]:
isinstance(sa,set)

True